In [166]:
import pandas as pd
import numpy as np
import psycopg2 # to connect to the database
import dotenv # to load the variables from the .env file
from dotenv import load_dotenv
import os # to access the environment variables

In [167]:
load_dotenv()

True

In [168]:
db_host=os.getenv("host")
db_port=os.getenv("port")
db_database=os.getenv("database")
db_user=os.getenv("user")
db_password=os.getenv("password")

In [169]:
# print the variables
print(f"DB_HOST: {db_host}")
print(f"DB_PORT: {db_port}")
print(f"DB_NAME: {db_database}")
print(f"DB_USER: {db_user}")
print(f"DB_PASSWORD: {db_password}")

DB_HOST: localhost
DB_PORT: 5432
DB_NAME: MyDataBase
DB_USER: postgres
DB_PASSWORD: Didir

In [170]:

try:
    # Connexion à la base de données
    connection = psycopg2.connect(
        host=db_host,
        port=db_port,
        database=db_database,  # Assurez-vous que c'est le bon nom de la base
        user=db_user,
        password=db_password
    )
    
    # Création d'un curseur
    cursor = connection.cursor()

    # Exécuter la requête SQL pour récupérer les données
    cursor.execute('SELECT * FROM MyDataBase.test_table_mdb;')
    # keep the column names
    column_names = [desc[0] for desc in cursor.description]

    # Récupérer les résultats
    data = cursor.fetchall()
    
    # Afficher les résultats
    print(column_names)
    for i in range(len(data)):
        print(data[i])
    

except psycopg2.Error as e:
    print(f"Error executing query: {e.pgcode} - {e.pgerror}")

    
finally:
    # Fermeture du curseur et de la connexion
    if cursor:
        cursor.close()
    if connection:
        connection.close()

['id', 'nom', 'prenom', 'age']
(1, 'Dupont', 'Jean', 28)
(2, 'Martin', 'Alice', 34)
(3, 'Durand', 'Pierre', 22)
(4, 'Lefevre', 'Sophie', 45)
(5, 'Moreau', 'Laura', 30)
(6, 'Bernard', 'Louis', 50)
(7, 'Dubois', 'Emma', 27)
(8, 'Thomas', 'Paul', 33)
(9, 'Petit', 'Lucie', 41)
(10, 'Robert', 'Marc', 29)

In [171]:
df = pd.DataFrame(data, columns=['id', 'name','prenom','age'])

In [172]:
df.head()

   id     name  prenom  age
0   1   Dupont    Jean   28
1   2   Martin   Alice   34
2   3   Durand  Pierre   22
3   4  Lefevre  Sophie   45
4   5   Moreau   Laura   30